/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  background-color: #EAEAEA;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__return__container {
  padding-left: 20px;
}

.navbar__menu__logo__container {
  height: 26px;
  margin: auto;
  padding: 20px;
}

.navbar__menu__logo {
  width: 100%;
  height: 100%;
}

.head__container {
  width: 100%;
  height: 270px;
  background-image: url("../../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.head__text {
  background-color: #EAEAEA;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 30px 20px;
  position: relative;
}
.head__text__title {
  font-family: "Shrikhand", cursive;
  font-style: oblique;
  font-size: 24px;
}
.head__text__icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 20px;
}

.section__menu {
  margin: 0 20px 30px;
}
.section__menu .section__menu__title {
  text-transform: uppercase;
}
.section__menu .underline__menu__title {
  border: 1px solid #99E2D0;
  width: 40px;
  margin-left: 0;
  margin-bottom: 15px;
}

.menu__cards__container {
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card__menu {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.card__menu__title {
  width: 100%;
  line-height: 1.8;
  font-weight: bold;
}
.card__menu__price {
  display: flex;
  justify-content: flex-end;
}

.container__order__button {
  width: 100%;
  text-align: center;
}
.container__order__button .order__button {
  width: 200px;
  border-radius: 30px;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(169deg, #FF79DA 0%, #9356DC 53%);
  border: none;
  box-shadow: 2px 2px 4px black;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #F6F6F6;
}

body {
  font-family: "Roboto", sans-serif;
}

.title__font {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.navbar {
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px black;
  text-align: center;
  padding: 16px;
}
.navbar__logo {
  height: 100%;
}

.location__container {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__container .location__logo {
  padding-right: 16px;
}

.callToAction {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  text-align: center;
  padding: 10%;
  background-color: #F6F6F6;
}
.callToAction__title {
  width: 100%;
}
.callToAction__text {
  width: 100%;
  font-size: 20px;
  font-weight: 100;
}
.callToAction__container__button {
  width: 100%;
}
.callToAction__container__button .callToAction__button {
  border-radius: 30px;
  font-size: 16px;
  padding: 16px;
  color: white;
  background: linear-gradient(169deg, #FF79DA 0%, #9356DC 53%);
  border: none;
  box-shadow: 2px 2px 4px black;
}

.menu__section {
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__section__title {
  padding: 50px 0 50px 0;
}
.menu__section__list {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  list-style: circle;
}
.menu__section__icon {
  color: gray;
  font-size: 24px;
  padding: 0 20px 0 10px;
}
.menu__section__icon :hover {
  color: #9356DC;
}
.menu__section__item {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px black;
  padding: 10px 40px 10px 40px;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__section__item .item-number {
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant__section {
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.restaurant__section__title {
  padding: 50px 0 50px 0;
}

.restaurant__section__cards {
  height: 1050px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card__restaurant {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  background-color: white;
}
.card__restaurant__vignette {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 10px;
  color: #278870;
}
.card__restaurant__image {
  width: 100%;
  height: 180px;
}
.card__restaurant__image .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__restaurant__text {
  width: 100%;
  display: flex;
  position: relative;
}
.card__restaurant__text__icon {
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.card__restaurant__text .restaurant__text__icon__heart {
  font-size: 24px;
}
.card__restaurant .restaurant__text {
  padding: 10px;
}
.card__restaurant .restaurant__text__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.footer__menu {
  padding: 20px;
  background-color: #353535;
  color: white;
}
.footer__menu__logo {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.footer__menu__item {
  line-height: 1.5;
}
.footer__menu__icon {
  margin-right: 10px;
}
.footer__menu__icon .fa-utensils {
  font-size: 16px;
}
.footer__menu__icon .fa-hands-helping {
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */
