/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  background-color: #EAEAEA;
}

.navbar__menu {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  padding: 0 2%;
}

.navbar__menu__return__container {
  position: absolute;
  left: 30px;
}

.navbar__menu__logo__container {
  height: 26px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar__menu__logo {
  height: 100%;
}

.head__container {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.head__container--bg__image1 {
  background-image: url("../../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.head__container--bg__image2 {
  background-image: url("../../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.head__container--bg__image3 {
  background-image: url("../../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.head__container--bg__image4 {
  background-image: url("../../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.head__text {
  background-color: #EAEAEA;
  width: 100%;
  border-radius: 40px 40px 0 0;
  padding: 30px 20px;
  position: relative;
}
.head__text__title {
  font-family: "Shrikhand", cursive;
  font-style: oblique;
  font-size: 24px;
}
.head__text__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 45px;
  bottom: 25px;
  font-size: 20px;
  background-image: url(../../assets/images/icon/heart-regular.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  overflow: hidden;
}
.head__text__icon:hover {
  background-image: url(../../assets/images/icon/heart-solid.svg);
}

.section__menu {
  margin: 0 20px 30px;
}
.section__menu .section__menu__title {
  text-transform: uppercase;
}
.section__menu .underline__menu__title {
  border: 1px solid #99E2D0;
  width: 40px;
  margin-left: 0;
  margin-bottom: 15px;
}

.menu__cards__container {
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.high__container {
  height: 365px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card__menu {
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  animation: fadeIn 2s backwards;
}
.card__menu--1 {
  animation-delay: 333.3333333333ms;
}
.card__menu--2 {
  animation-delay: 666.6666666667ms;
}
.card__menu--3 {
  animation-delay: 1000ms;
}
.card__menu__title {
  width: 100%;
  line-height: 1.8;
  font-weight: bold;
  font-size: 20px;
}
.card__menu__p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.card__menu__price {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.card__menu__addBtn {
  overflow: hidden;
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  font-size: 25px;
  color: white;
  right: 0;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: #99E2D0;
  transform-origin: right;
  transform: translateX(100%);
  transition: transform 1000ms;
}

.card__menu__description {
  display: flex;
  justify-content: space-between;
}

.hover__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.hover__btn:hover {
  animation: compressText 1000ms forwards;
}
.hover__btn:hover + .card__menu__addBtn {
  transform: translateX(0%);
}
.hover__btn:hover + .card__menu__addBtn i {
  animation: rotateIn 500ms 250ms;
}

@keyframes compressText {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(0);
  }
  100% {
    transform-origin: center center;
    transform: rotate(-360deg);
  }
}
.container__order__button {
  width: 100%;
  text-align: center;
}
.container__order__button .order__button {
  width: 200px;
  border-radius: 30px;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(169deg, #FF79DA 0%, #9356DC 53%);
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.container__order__button .order__button:hover {
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.7);
  filter: brightness(1.2);
}

@media screen and (min-width: 768px) {
  .menu__cards__container {
    justify-content: space-between;
    height: auto;
  }

  .card__menu {
    width: 30%;
    height: 100px;
    margin-bottom: 20px;
  }
}
.pencil {
  position: absolute;
  top: 35%;
  left: 10%;
  display: block;
  animation: pencilMove 2000ms 150ms both;
}
@keyframes pencilMove {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(250px);
    opacity: 0;
    left: 0;
  }
}
.pencil .fa-pencil-alt {
  font-size: 125px;
  color: #FF79DA;
  text-shadow: 1px 1px 3px #9356DC;
}

.loader {
  position: relative;
  width: 100%;
  height: 100vh;
  animation: loaderContainer 1000ms 2150ms forwards;
}
@keyframes loaderContainer {
  0% {
    height: 100vh;
  }
  100% {
    height: 0px;
  }
}

.content__page {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: pageContent 1000ms 1600ms both;
}
@keyframes pageContent {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.line {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px gray;
  top: 49%;
  left: 10%;
  height: 25px;
  width: 260px;
  border-radius: 50px;
  background: #ff79da;
  background: linear-gradient(166deg, #ff79da 15%, #99e2d0 50%, #9356dc 81%);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  animation: line-animation 2000ms 150ms;
}
@keyframes line-animation {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .content__page {
    margin: 0 10%;
  }

  .navbar__menu__logo__container {
    height: 38px;
  }

  .pencil {
    left: 25%;
  }
  @keyframes pencilMove {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(500px);
      opacity: 0;
    }
  }

  .line {
    left: 25%;
    width: 510px;
  }
}
* {
  box-sizing: border-box;
}

header {
  background-color: #F6F6F6;
}

body {
  font-family: "Roboto", sans-serif;
}

.title__font {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.navbar {
  height: 50px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 16px;
}
.navbar__logo {
  height: 100%;
}

.location__container {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__container .location__logo {
  padding-right: 16px;
}

.callToAction {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  text-align: center;
  padding: 10%;
  background-color: #F6F6F6;
}
.callToAction__title {
  width: 100%;
}
.callToAction__text {
  width: 100%;
  font-size: 20px;
  font-weight: 100;
}
.callToAction__container__button {
  width: 100%;
}
.callToAction__container__button .callToAction__button {
  border-radius: 30px;
  font-size: 16px;
  padding: 16px;
  color: white;
  background: linear-gradient(169deg, #FF79DA 0%, #9356DC 53%);
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.callToAction__container__button .callToAction__button:hover {
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.7);
  filter: brightness(1.2);
}

.menu__section {
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__section__title {
  padding: 50px 0 50px 0;
}
.menu__section__list {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  list-style: circle;
}
.menu__section__icon {
  color: gray;
  font-size: 24px;
  padding: 0 20px 0 10px;
}
.menu__section__icon :hover {
  color: #9356DC;
}
.menu__section__item {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  padding: 10px 40px 10px 40px;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__section__item:hover {
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.7);
}
.menu__section__item .item-number {
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant__section {
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
.restaurant__section__title {
  padding: 50px 0 50px 0;
}

.restaurant__section__cards {
  height: 1050px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card__restaurant {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: black;
}
.card__restaurant:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.card__restaurant__vignette {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  border-radius: 5px;
  padding: 10px;
  color: #278870;
}
.card__restaurant__image {
  width: 100%;
  height: 180px;
}
.card__restaurant__image .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__restaurant__text {
  width: 100%;
  display: flex;
  position: relative;
}
.card__restaurant__text__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 30px;
  right: 20px;
  background-image: url(../../assets/images/icon/heart-regular.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  overflow: hidden;
}
.card__restaurant__text__icon:hover {
  background-image: url(../../assets/images/icon/heart-solid.svg);
}
.card__restaurant .restaurant__text {
  padding: 10px;
}
.card__restaurant .restaurant__text__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.footer__menu {
  padding: 20px;
  background-color: #353535;
  color: white;
}
.footer__menu__logo {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.footer__menu__item {
  line-height: 1.5;
}
.footer__menu__item a {
  color: white;
  text-decoration: none;
}
.footer__menu__icon {
  margin-right: 10px;
}
.footer__menu__icon .fa-utensils {
  font-size: 16px;
}
.footer__menu__icon .fa-hands-helping {
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 72px;
  }

  .location__text {
    font-size: 20px;
  }

  .callToAction {
    height: 500px;
    padding: 0 5%;
    align-items: center;
  }
  .callToAction__text {
    font-size: 32px;
  }

  .title__font {
    font-size: 48px;
  }

  .callToAction__button {
    font-size: 24px;
  }

  .restaurant__section__cards {
    height: 550px;
    justify-content: space-around;
  }
  .restaurant__section__cards .card__restaurant {
    width: 45%;
  }
}
@media screen and (min-width: 1042px) {
  .menu__section__list {
    height: auto;
    padding-bottom: 4%;
    justify-content: space-between;
  }

  .menu__section__item {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
